{% extends 'base.html.twig' %}

{% block title %}Chargement de fichier{% endblock %}

{% block body %}
 <div class="container">
  <h2>Insérer la prescription du patient:</h2>
 </div>
 <div class="container" id="content">
   {{ form(prescriptionForm) }}
 </div>
{% endblock %}

{% block stylesheets %}
 <style>
  #content{
   background-color: #f5dbdf;
   border-radius: 20px;
   padding: 15px;
   margin-top: 20px;
  }
 </style>
{% endblock %}
