{% extends 'base.html.twig' %}

{% block title %}Chargement de fichier{% endblock %}

{% block body %}
 <div class="container">
  {{ form(prescriptionForm) }}
  <a href="{{ path('app_pillbox') }}">Retour</a>
 </div>
{% endblock %}
