{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Nouveau medecin:</h3>
        {{ form(form_new_doctor) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

