{% extends 'base.html.twig' %}

{% block title %}Location de materiel{% endblock %}

{% block body %}
    <div class="container">
        <h2>Catégories de materiel à louer:</h2>
    </div>
    <div class="container" id="content">
        <div class="row">
            <div class="col">
                <strong>id</strong>
            </div>
            <div class="col">
                <strong>Nom</strong>
            </div>
            <div class="col">
                <strong>Description</strong>
            </div>
        </div>
        {% for category in rentcategories %}
            <div class="row">
                <div class="col">
                    <a href="{{ path('app_booking_edit_rent_category', {'id' : category.id}) }}">{{ category.id }}</a>
                </div>
                <div class="col">
                    {{ category.name }}
                </div>
                <div class="col">
                    {{ category.description }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
       #content{
           background-color: #f3f3d2;
           border-radius: 20px;
           padding: 15px;
       }
    </style>
{% endblock %}
