<div class="container">
<h3>Vous avez reçu un message de {{ contactEmail }}</h3>
    <div class="container">
        <div class="row">
            <div class="bg-light mt-4 p-4">
                {{ contentMail }}
            </div>
        </div>
    </div>
</div>
