<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Accueil{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-icons/font/bootstrap-icons.min.css') }}">
        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% if app.user %}
            {% include '_elements/navbar.html.twig' %}
        {% endif %}

        {% block body %}{% endblock %}

        <script src="{{ asset('js/bootstrap.bundle.min.js') }}" ></script>
    </body>
</html>
