{% extends 'base.html.twig' %}

{% block title %}page non trouvée{% endblock %}

{% block body %}
<div class="container">
    <h1>page non trouvée</h1>
    <p>Code de l'erreur: {{ status_code }}</p>
    <p>message de l'erreur: {{ status_text }}</p>
    <p>message personnalisé: {{ exception.message }}</p>
</div>

{% endblock %}
